<div class="main">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Hello you!</h1>
        <p>Track your progress with us!</p>

      </div>
    </div>


    <div class="right">
      <h1 class="login-title">Login</h1>
      <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="Email">
        <br>
        <input type="password" placeholder="Password">
      </div>

      <br><br>

      <div class="remember-me--forget-password">
        <!-- Angular -->
        <!-- maybe try to do this later
        <label>
          <input type="checkbox" name="item" checked/>
          <span class="text-checkbox">Remember me</span>
        </label>
        -->
        <p>Forgot password?</p>

        <br>
        <button>Login</button>
      </div>
      <div class="social">
        <span>
          <p>Login with social media</p>
          <a href="#" class="social-fb"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook </a>
          <a href="#" class="social-tw"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        </span>
      </div>
    </div>

  </div>
</div>
