<div [ngClass]="{'right-panel-active': isFavorite }" class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i><img src="../../assets/social/facebook_96px.png" class="img-size"></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i><img src="../../assets/social/google_plus_96px.png" class="img-size"></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i><img src="../../assets/social/linkedin_96px.png" class="img-size"></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i><img src="../../assets/social/facebook_96px.png" class="img-size"></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i><img src="../../assets/social/google_plus_96px.png" class="img-size"></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i><img src="../../assets/social/linkedin_96px.png" class="img-size"></a>
      </div>
      <span>or use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Hi there!</h1>
        <p>Sign up with and start tracking your own and your friends gym progress</p>
        <button class="ghost" id="signIn" (click)="toggleClass()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Welcome back!</h1>
        <p>Sign in and continue tracking your progress with us</p>
        <button class="ghost" id="signUp" (click)="toggleClass()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
