<div class="exercise-container">

  <input type="date" [(ngModel)]="inputDate" (ngModelChange)="onValueChanged()">
  <div *ngFor="let exercise of exercises" class="exercise-item">
    <p>{{exercise.exerciseName}}</p>
    <div *ngFor="let set of exercise.exerciseSet ">
      <hr>
      <div class="exercise-set">
        <div class="kg-info">
          <p>{{set.weight}} kg</p>
        </div>
        <div class="reps-info">
          <p>{{set.reps}} reps</p>
        </div>
      </div>
    </div>
  </div>
  <button>
    <p style="cursor: default">Add More</p>
  </button>
</div>


