.exercise-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.exercise-set{
  display: flex;
}
.plus{
  justify-content: center;
  align-items: center;
}
.kg-info{
  flex-grow:1;
}
.reps-info{
  flex-grow:1;
}
.exercise-item{
  width: 200px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  overflow: hidden;
}
